body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal{
    width: 100%;
    height:  60px;
    background-color: #00bac6;
    border-bottom: 3px solid #efefef;
}
.logo{
    float: left;
    width: 70%;
    padding: 16px;
}
main{
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.redes-sociais {
    width: 20%;
    float: right;
    display: inline-flex;
    list-style: none;
}
ul li{
    margin-left: 15px;
}
.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
}
.menu-urls{
    border-bottom: 3px solid #efefef;
    height: 54px;
}

.menu{
    display: inline-flex;
    list-style: none;
    float: left;
}
.menu li{
    margin-left: 20px;
    font-size: 15px;
    padding-bottom: 15px;
    color: #8b8b8b;
    text-decoration: none;
    text-transform: uppercase;
}
.menu li:hover{
    border-bottom: 2px solid #00bac6;
    font-size: 18px;
    color: #00bac6;
}

.busca{
    width: 30%;
    float: right;
    margin-top: 10px;
}
.busca input{
    text-align: center;
    height: 16px;
    
    width: 190px;
    background-image: url("../imagem/search.png");
    background-repeat: no-repeat;
    background-position: 96%;
    border: 2px solid #d6d6d6;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
ul{
    padding: 0 auto!important;
}
.content{
    width: 980px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.texto-destaque h1{
    color: #818181;
    text-transform: uppercase;
    font-size: 30px;
}
.texto-destaque strong{
    color: #646464;
}
.texto-destaque p{
    color: #9a9a9a;
    font-size: 15px;
}
.col-3{
    width: 29%;
    float: left;
    margin: 0 auto;
 
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}



.texto p{
        color: #9a9a9a;
        font-size: 15px;
}
.col-4{
    width: 29%;
    float: left;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.bloco-image img{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-image{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border: 2px solid #5c5c5c;
    display: inline-block;
}
.bloco-image-texto{
    background-color: #eeeeee;
}

.bloco-image b, p{
    text-align: left;
}

.bloco-texto{
    margin-top: 3em;
}
h3{
    font-weight: normal!important;
}


.bloco-image-texto:before{
    width: 100%;
    display: inline-block;
    height: 52px;

}

.col-5{
    width: 25%;
    float: left;
    text-align: center;
}
.col-5 img{
    cursor: pointer;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    vertical-align: middle;
}
.col-5 img:hover{
    margin-top: 10px!important;
    position:relative!important;
}

.bottom-image{
    display:inline-block;
}

.footer h3{
    text-align: left;
}
.footer{
    background-image: url("../imagem/footer.png");
    color: #ffffff;
}
.footer-2{
    background-image: url("../imagem/footer2.png");
    color: #c1c1c1;
    height: 90px;
}
.footer p{
    width: 90%;
    text-align: left;
}
.footer-2 p{
    padding: 10px;
}
.clock{
    color: #898989!important;
}

.clock::before{
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url("../imagem/clock.png");
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local::before, .telefone::before{
    content: '';
    width: 17px;
    height: 24px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.email::before{
    content: '';
    width: 15px;
    height: 24px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.email::before{
    background-image: url("../imagem/emailico.png");
}
.local::before{
    background-image: url("../imagem/emailico.png");
}
.telefone::before{
    background-image: url("../imagem/telefoneico.png");
}